Dtd/src/com/nantian/dtd/persons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/persons" 
		xmlns:tns="http://www.example.org/persons" 
		elementFormDefault="qualified">
		
		<element name="persons" type="tns:personsType"/>
		<element name="age" type="int"/>
		<element name="name" type="string"/>
		<element name="sex" type="string"/>
		<complexType name="personsType">
			<sequence>
				<element ref="tns:name"/>
				<element ref="tns:age"/>
				<element ref="tns:sex"/>
			</sequence>
		</complexType>
</schema>