Dtd/src/com/nantian/dtd/student1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.example.org/classroom1" 
			xmlns:tns="http://www.example.org/classroom1" 
			elementFormDefault="qualified">
		
		<xsd:element name="student" type="tns:student1Type"/>
		
		<xsd:complexType name="student1Type">
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="sex" type="tns:sexType"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:simpleType name="sexType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="男"/>
				<xsd:enumeration value="女"/>
			</xsd:restriction>
		</xsd:simpleType>
</xsd:schema>